*{
    padding: 0;
    margin: 0;
}
.top{
    position: fixed;
    width: 100%;
    background-color: white;
 
   
.top1{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        color: grey;

    }
    div{
        display: flex;
        gap: 10px;
        align-items: center;
        p{
            color: black;
        }
        button{
            background-color: #3BB96D;
            color: beige;
            padding: 7px 15px;
            border-radius: 30px;
            border: none;

        }
    }
}
.top2{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    a{
        color: #0D233B;
        text-decoration: none;
    }
}}
.p1{
    width: 90%;
    margin: auto;
    height: auto;
    
   h2{
    font-size: 40px;
   }
}
.p2{
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
   .p22{
    width: 45%;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p{
        color: #686868;
        font-size: 19px;
    }
    a{
        color: #3BB96D;
        font-size: 20px;
    }
   }
}
.p3{
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    padding: 20px;
    background-color: #272727;
    border-radius: 30px;
    .l{
        width: 50%;
        h2{
            color:white;
        }
        
    }
}
.p4{
    width: 100%;
    background-color: #279A59;
     .p44{
        width: 90%;
        margin: auto;
        padding: 50px 0px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        div{
            p{
            color: white;}
            h2{
                color: white;
            }
        }
     }
}











@media(max-width:510px) {
    .top{
        .top1{
            display: none;

        }
        .top2{
            a{
                display: none;
            }
        }
    }
   .p2{
    flex-direction: column;
    .p22{
        width: 90%;
    }
    
   }
   .p3{
    flex-direction: column;
    .l{
        width: 100%;
        div{
            flex-direction: column;
        }
    }
    .r{
        display: none;
        img{
            display: none;
        }
    }
}
.p4{
    flex-direction: column;
    .p44{
        flex-direction: column;
        div{
            text-align: center;
        }
    }
}
}
